@font-face {
    font-family: 'Pokemon Font';
    src: url(../images/pokemon-ds-font.ttf);
  }
  
  * {
    font-family: 'Pokemon Font', serif;
    font-size: 40px;
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-shadow: 0px 2px 0px rgba(50, 50, 50, 1),
                 0px 2px 0px rgba(50, 50, 50, 1),
                 2px 2px 0px rgba(50, 50, 50, 1),
                 0px 2px 0px rgba(50, 50, 50, 1),
                 2px 0px 0px rgba(50, 50, 50, 1),
                 2px 0px 0px rgba(50, 50, 50, 1);
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  #content {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

  #scrolling-text {
    position: absolute;
    bottom: 0;
    left: 20px;
    animation-name: scroll-up;
    animation-duration: 110s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes scroll-up {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(-200%);
    }
  }