@font-face {
  font-family: 'Pokemon Font';
  src: url(../images/pokemon-ds-font.ttf);
}

* {
  font-family: 'Pokemon Font', serif;
  font-size: 20px;
  font-weight: bold
}

.form-select {
    width: 200px;
    font-size: 14px;
    padding: 6px 12px;
  }

.form-select {
  display: inline;
}

body {
  background-image: url(../images/background.png);
}

#navbarlinksone {
  position: absolute;
  top: 15px;
  left: 40px;
}

#navbarlinkstwo {
  position: absolute;
  top: 15px;
  left: 100px;
}

#navbarlinksthree {
  position: absolute;
  top: 15px;
  left: 235px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 23px;
}

h1 {
  text-align: center;
}

label {
  position: relative;
  left: 42vw;
}

select {
  position: relative;
  left: 42vw;
  margin-bottom: 10px;
}

input {
  position: relative;
  left: 42vw;
  margin-bottom: 10px;
}

button {
  position: relative;
  left: 42vw;
  margin-bottom: 90px;
  font-family: 'Pokemon Font', serif;;
  background-color: #f8f8a0;
}

.custom-card {
  border: 10px solid #f1c871; /* Add the border color */
  width: calc(33.33% - 20px); /* Adjust the width to fit three cards on one row */
  margin: 10px; /* Add margin between cards */
  box-sizing: border-box; /* Include border in the calculated width */
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2;
}

p {
  font-size: 30px;
  text-align: center;
}

#searchtext {
  width: 300px;
}