@font-face {
  font-family: 'Pokemon Font';
  src: url(../images/pokemon-ds-font.ttf);
}

body {
  background-image: url(../images/background.png);
  color: #000;
  text-align: center;
  font-weight: 500;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 80px;
}

.image-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.image-container .col {
  padding: 0;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-fluid {
  margin-top: 10px;
  height: 20%;
}

.img-fluid:hover {
  content: url(../images/redsquareHover.png);
  margin-top: 10px;
  height: 20%;
  animation: teleport 0.3s infinite steps(1);
}

#textbox {
  height: 80px;
  margin-top: 90px;
}

p {
  font-family: 'Pokemon Font', serif;
  font-size: 30px;
  margin-top: 50px;
}

@keyframes teleport {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  51% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.form-select {
  width: 200px;
  font-size: 14px;
  padding: 6px 12px;
}

@media (max-width: 767px) {
  #textbox {
    height: 60px;
  }
  
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

#next {
  height: 15px;
  position: relative;
  top: 60px;

  animation: teleport 0.5s infinite steps(1);
}

#faraway {
  margin-top: 100000px;
}